%h1 Users index
.buttons
  = link_to("New user", new_user_path) if user_can?(:create, User)

%table
  %th
    %td View
    %td Edit
    %td Delete

  - users.each do |user|
    %tr
      %td
        = link_to(user.title, user_path(user)) if user_can?(:read, user)
      %td
        = link_to("Edit", edit_user_path(user)) if user_can?(:edit, user)
      %td
        = link_to("Delete", user_path(user), :method => 'delete') if user_can?(:delete, user)

